body{
    margin: 0 auto;
    padding: 0 auto;
}
.navber{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    color: white;
    padding: 20px;
    
}
.navber ul{
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0px;
}
.navber ul li a{
    text-decoration: none;
    color: white;
}

.navber ul li a:hover{
    cursor: pointer;
    color: red;
    background-color: white;
}
.navber h1{
    margin: 0px;
}



  
.button-size{
    border-radius: 10px;
    border: none;
    background-color: white;
    color: black;
    font-size: 20px;
    gap: 100px;
    padding: 5px 30px;
}
.header-continer{
    background-image: url(image/background.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    justify-items: center;
    text-align: center;
    display: block;
}
.header-continer{
    padding: 100px;
}
.header-continer h1{
    color: white;
}
.header-first{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    text-align: center;
    margin: 50px auto;
    padding: 80px;
}
.header-third{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    padding: 80px;

}
.headar-img img{
    width: 50%;
    font-size: 100px;
    border-radius: 50%;
   
}
.header-button{
    border-radius: 10px;
    border: none;
    background-color: white;
    color: black;
    padding: 10px;
}
.header-third{
    background-image: url(image/1322933156.jpg);
    background-position: center;
    text-align: center;
    background-size: cover;
    height: 100vh;
}
.header-title{
    color: white;
}
.header-four{
    display: flex;
    margin: 80px 0 auto;
    padding: 80px;
}
.header-titel{
    width: 50%;    
}
.header-img{
    text-align: center;
    width: 50%;
}
.titel-header  {
text-align: center;
}
.header-five{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    display: flex;
    justify-content: center;
    margin: 80px 0 auto;   
}
.header-six{
    display: flex;
    padding: 80px;
    text-align: center;
    gap: 30%;
   justify-content: center;

}
.seven-header{
    display: flex;
    padding: 80px;
    text-align: center;
    gap: 30%;
   justify-content: center;
}
.titel{
    
    text-align: center;
}
.seven-paragrap{
    
    padding: 50px;
}
.nine-titel{
    text-align: center;
}
.button-nine{
    text-align: center;
    padding: 20PX 60PX;
    
}
.button-header{
    background-color: orange;
    color: black;
    border: none;
    padding: 5px 100px;
    

}
.nine-button{
    padding: 5px 100px;
    border: none;
}

.fooder{
    display: flex;
  
   align-items: center;
   justify-content: center;
  padding: 20px;
  gap: 10px;
}
.img-ten{
    display: flex;
    justify-content: end;
    gap: 20px;
    margin: 0px 100px;
    padding: 20px;
}
.ten-fast{
    background-color: black;
    color: white;
    padding: 100px;
    padding-bottom: 10px;
   
}

.contact-form{
    display: flex;
    justify-content: center;
}
.input{
    padding: 5px;
    width: 400px;
    border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid black;
}
.message{
    width: 100%;
    outline: none;
}

.btn{
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background-color: orange;
    color: white;
    cursor: pointer;
    margin: 10px 0px 50px;
}
.btn:hover{
    background-color: #b47809;
}
